[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = https://github.com/docunext/closetag.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vim-signature"]
	path = bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "bundle/Vim-R-plugin"]
	path = bundle/Vim-R-plugin
        url = https://github.com/vim-scripts/Vim-R-plugin.git
        ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-pandoc"]
	path = bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
        url = https://github.com/vim-scripts/bufexplorer.zip.git
        ignore = dirty
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-latex-suite"]
	path = bundle/vim-latex-suite
	url = https://github.com/gerw/vim-latex-suite.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/dbext.vim"]
	path = bundle/dbext.vim
        url = https://github.com/vim-scripts/dbext.vim.git
        ignore = dirty
[submodule "bundle/vim-move"]
	path = bundle/vim-move
        url = https://github.com/matze/vim-move.git
        ignore = dirty
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-expand-region"]
	path = bundle/vim-expand-region
        url = https://github.com/terryma/vim-expand-region.git
        ignore = dirty
[submodule "bundle/headlights"]
	path = bundle/headlights
	url = https://github.com/mbadran/headlights.git
[submodule "bundle/fontsize.vim"]
	path = bundle/fontsize.vim
        url = https://github.com/vim-scripts/fontsize.vim.git
        ignore = dirty
