[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = https://github.com/docunext/closetag.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vim-signature"]
	path = bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "bundle/Vim-R-plugin"]
	path = bundle/Vim-R-plugin
        url = https://github.com/vim-scripts/Vim-R-plugin.git
        ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-pandoc"]
	path = bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
        url = https://github.com/vim-scripts/bufexplorer.zip.git
        ignore = dirty
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/vim-move"]
	path = bundle/vim-move
        url = https://github.com/matze/vim-move.git
        ignore = dirty
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-expand-region"]
	path = bundle/vim-expand-region
        url = https://github.com/terryma/vim-expand-region.git
        ignore = dirty
[submodule "bundle/fontsize.vim"]
	path = bundle/fontsize.vim
        url = https://github.com/vim-scripts/fontsize.vim.git
        ignore = dirty
[submodule "bundle/atp-vim"]
	path = bundle/atp-vim
        url = git://git.code.sf.net/p/atp-vim/code
        ignore = dirty
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/vim-colorscheme-switcher"]
	path = bundle/vim-colorscheme-switcher
	url = https://github.com/xolox/vim-colorscheme-switcher.git
[submodule "bundle/Conque-Shell"]
	path = bundle/Conque-Shell
        url = https://github.com/vim-scripts/Conque-Shell
        ignore = dirty
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/rainbow_parentheses.vim"]
	path = bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "bundle/vim-fireplace"]
	path = bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
        url = https://github.com/guns/vim-clojure-static.git
        ignore = dirty
[submodule "bundle/vim-classpath"]
	path = bundle/vim-classpath
	url = https://github.com/tpope/vim-classpath.git
[submodule "bundle/seoul256.vim"]
	path = bundle/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim.git
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "bundle/ag.vim"]
	path = bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "bundle/vim-dict"]
	path = bundle/vim-dict
        url = https://github.com/szw/vim-dict.git
        ignore = dirty
[submodule "bundle/vim-notes"]
	path = bundle/vim-notes
	url = https://github.com/xolox/vim-notes.git
[submodule "bundle/slimv.vim"]
	path = bundle/slimv.vim
        url = https://github.com/vim-scripts/slimv.vim.git
        ignore = dirty
[submodule "bundle/LargeFile"]
	path = bundle/LargeFile
        url = https://github.com/vim-scripts/LargeFile.git
        ignore = dirty
[submodule "bundle/VOoM"]
	path = bundle/VOoM
        url = https://github.com/vim-scripts/VOoM.git
        ignore = dirty
[submodule "bundle/vim-online-thesaurus"]
	path = bundle/vim-online-thesaurus
        url = https://github.com/beloglazov/vim-online-thesaurus.git
        ignore = dirty
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
        url = https://github.com/vimwiki/vimwiki.git
        ignore = dirty
[submodule "bundle/vimroom"]
	path = bundle/vimroom
        url = https://github.com/mikewest/vimroom.git
        ignore = dirty
[submodule "bundle/vim-js-context-coloring"]
	path = bundle/vim-js-context-coloring
        url = https://github.com/bigfish/vim-js-context-coloring.git
        ignore = dirty
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "bundle/vim-autocomplpop"]
	path = bundle/vim-autocomplpop
        url = https://github.com/othree/vim-autocomplpop.git
        ignore = dirty
[submodule "bundle/L9"]
	path = bundle/L9
        url = https://github.com/vim-scripts/L9.git
        ignore = dirty
